In [1]:
# Author: Vrushali Ritesh Koli
# Date: 2020/02/24
# CS301-006, Professor Watson
# HW4 Solution
# Data manipulation exercise with a coronovirus open dataset
# https://github.com/vkoli/cs301-hw
# 
# master

In [2]:
import numpy as np
import pandas as pd

### Problem 1

In [47]:
def get_percent_nans(df, col):
    num_rows = df.shape[0]
    total_na = df[col].isna().sum()
    per = (total_na / num_rows) * 100
    return per

In [48]:
data_df = pd.read_csv("/home/toph/Documents/cs301/2019_nCoV_20200121_20200206.csv")

for col in data_df.columns:
    #print(col)
    #print(get_percent_nans(data_df, col))
    print('The \"{}\" column has {:.2f}% empty values'.format(col, get_percent_nans(data_df, col)))

The "Province/State" column has 24.45% empty values
The "Country/Region" column has 0.00% empty values
The "Last Update" column has 0.00% empty values
The "Confirmed" column has 1.60% empty values
The "Suspected" column has 95.31% empty values
The "Recovered" column has 46.67% empty values
The "Death" column has 53.22% empty values

### Problem 2
According to the data found in the “2019_nCoV_20200121_20200206.csv” file, whichCountry/Region​ has the ​most​ amount of Deaths?

In [74]:
# Only take the country and death column
df = data_df[['Country/Region', 'Death']]
# Find the country(ies) where the death rate is equal to the max in the column
df2 = df[df['Death']==df['Death'].max()].drop_duplicates()
df2.head()

   Country/Region  Death
0  Mainland China  479.0

### Problem 3 
According to the data found in the “2019_nCoV_20200121_20200206.csv” file, whichCountry/Region​ has the ​highest ​number of suspected cases of 2019 nCoV?

In [98]:
# only take the country and suspected column, drop NAN values
df = data_df[['Country/Region', 'Suspected']].dropna()
# group the rows into countries
sorted_df = df.groupby('Country/Region')
sorted_df.groups

{'Australia': Int64Index([1808], dtype='int64'),
 'Brazil': Int64Index([1810], dtype='int64'),
 'Colombia': Int64Index([1811], dtype='int64'),
 'Hong Kong': Int64Index([1532, 1581, 1623, 1665, 1712, 1748, 1778, 1824, 1871], dtype='int64'),
 'Mainland China': Int64Index([1512, 1516, 1518, 1519, 1522, 1527, 1558, 1561, 1563, 1564, 1571,
             1576, 1582, 1605, 1606, 1607, 1608, 1613, 1617, 1627, 1648, 1650,
             1651, 1652, 1659, 1670, 1675, 1691, 1694, 1696, 1698, 1699, 1700,
             1702, 1711, 1718, 1719, 1731, 1734, 1735, 1736, 1739, 1742, 1759,
             1766, 1769, 1771, 1774, 1781, 1789, 1790, 1791, 1793, 1812, 1817,
             1818, 1822, 1830, 1837, 1839, 1850, 1854, 1855, 1857, 1858, 1860,
             1861, 1864, 1865, 1866, 1868, 1869, 1872],
            dtype='int64'),
 'Malaysia': Int64Index([1806], dtype='int64'),
 'Mexico': Int64Index([1809], dtype='int64'),
 'Philippines': Int64Index([1805], dtype='int64')}

In [103]:
# sum up all the suspected values for each country
suspected_df = sorted_df['Suspected'].agg(np.sum)
sorted_df = suspected_df.sort_values()
sorted_df

Country/Region
Australia            1.0
Brazil               1.0
Colombia             1.0
Mexico               1.0
Malaysia             4.0
Philippines          4.0
Mainland China     839.0
Hong Kong         1139.0
Name: Suspected, dtype: float64

In [124]:
sorted_df.idxmax()
# Answer is Hong Kong

'Hong Kong'

### Problem 4
According to the data found in the “2019_nCoV_20200121_20200206.csv” file, whichCountry/Region​ has the ​second highest ​average number of recovered cases of 2019 nCoV?

In [125]:
# only take the country and recovered column, drop NAN values
df = data_df[['Country/Region', 'Recovered']].dropna()
# group the rows into countries
sorted_df = df.groupby('Country/Region')
sorted_df.groups

{'Australia': Int64Index([ 42,  43,  44,  46, 112, 113, 114, 116, 182, 183, 184, 186, 252,
             253, 255, 256, 321, 322, 324, 325, 390, 391, 393, 394, 458, 459,
             461, 462, 525, 526, 528, 529, 592, 593, 595, 596, 658, 659, 661,
             668, 725, 726, 728, 734, 801, 856, 927, 986],
            dtype='int64'),
 'Belgium': Int64Index([55, 125, 195], dtype='int64'),
 'Cambodia': Int64Index([56, 126, 196, 265, 334, 403, 470, 536, 603, 669, 735], dtype='int64'),
 'Canada': Int64Index([ 47,  57,  58, 117, 127, 128, 187, 197, 198, 257, 266, 267, 326,
             335, 336, 392, 404, 460, 471, 527, 537, 594, 604, 662, 670, 729,
             736],
            dtype='int64'),
 'Finland': Int64Index([59, 129, 199, 268, 337, 405, 472, 538, 605, 671, 737], dtype='int64'),
 'France': Int64Index([40, 110, 180, 250, 319, 387, 455, 522, 589, 656, 723], dtype='int64'),
 'Germany': Int64Index([35, 105, 175, 245, 314, 383, 451, 518, 585, 653, 721], dtype='int64'),
 'Hong Kong': Int64Index([32, 102, 172, 242, 311, 380, 448, 515, 582, 650, 716], dtype='int64'),
 'India': Int64Index([45, 115, 185, 254, 323, 395, 463, 530, 597, 672, 738], dtype='int64'),
 'Italy': Int64Index([48, 118, 188, 258, 327, 396, 464, 531, 598, 663, 730], dtype='int64'),
 'Japan': Int64Index([  31,  101,  171,  239,  308,  377,  445,  512,  579,  646,  711,
              789,  850,  915,  974, 1032, 1087, 1142, 1193, 1245, 1297, 1348,
             1400, 1451, 1499, 1545],
            dtype='int64'),
 'Macau': Int64Index([38, 107, 177, 246, 316, 385, 453, 520, 587, 655, 722], dtype='int64'),
 'Mainland China': Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
             ...
             1687, 1688, 1689, 1690, 1694, 1728, 1729, 1730, 1771, 1779],
            dtype='int64', length=555),
 'Malaysia': Int64Index([36, 108, 178, 247, 317, 386, 454, 521, 588, 654, 720], dtype='int64'),
 'Nepal': Int64Index([61, 131, 201, 270, 339, 407, 474, 540, 607, 674, 740], dtype='int64'),
 'Philippines': Int64Index([49, 119, 189, 259, 328, 397, 465, 532, 599, 664, 741], dtype='int64'),
 'Russia': Int64Index([50, 120, 190, 260, 329, 398, 466, 533, 600, 665, 731], dtype='int64'),
 'Singapore': Int64Index([29, 100, 170, 241, 310, 379, 447, 514, 581, 648, 715], dtype='int64'),
 'South Korea': Int64Index([33, 104, 173, 244, 313, 381, 449, 516, 583, 649, 717], dtype='int64'),
 'Spain': Int64Index([62, 132, 202, 271, 340, 408, 475, 541, 608, 675, 742], dtype='int64'),
 'Sri Lanka': Int64Index([63, 133, 203, 272, 341, 409, 476, 542, 609, 676, 743, 800], dtype='int64'),
 'Sweden': Int64Index([64, 134, 204, 273, 342, 410, 477, 543, 610, 677, 744], dtype='int64'),
 'Taiwan': Int64Index([37, 106, 176, 248, 315, 384, 452, 519, 586, 651, 718], dtype='int64'),
 'Thailand': Int64Index([  30,   99,  169,  240,  309,  378,  446,  513,  580,  647,  712,
              790,  849,  916,  975, 1033, 1088, 1143, 1194, 1246, 1298, 1349,
             1401, 1452, 1500, 1546],
            dtype='int64'),
 'UK': Int64Index([51, 121, 191, 261, 330, 399, 467, 534, 601, 666, 732], dtype='int64'),
 'United Arab Emirates': Int64Index([41, 111, 181, 251, 320, 389, 457, 524, 591, 660, 727], dtype='int64'),
 'United States': Int64Index([ 52,  53,  54,  65,  66,  67,  68,  69, 122, 123, 124, 135, 136,
             137, 138, 139, 192, 193, 194, 205, 206, 207, 208, 209, 262, 263,
             264, 274, 275, 276, 277, 278, 331, 332, 333, 343, 344, 345, 346,
             347, 400, 401, 402, 411, 412, 413, 414, 415, 468, 469, 478, 479,
             480, 481, 482, 535, 544, 545, 546, 547, 548, 549, 602, 611, 612,
             613, 614, 615, 616, 667, 678, 679, 680, 681, 682, 683, 733, 745,
             746, 747, 748, 749, 750],
            dtype='int64'),
 'Vietnam': Int64Index([39, 109, 179, 249, 318, 388, 456, 523, 590, 657, 724, 793], dtype='int64')}

In [126]:
# sum up all the recovered values for each country
recovered_df = sorted_df['Recovered'].agg(np.sum)
sorted_df = recovered_df.sort_values()
sorted_df

Country/Region
Malaysia                   0.0
Spain                      0.0
South Korea                0.0
Singapore                  0.0
Russia                     0.0
Philippines                0.0
Nepal                      0.0
United States              0.0
UK                         0.0
Sweden                     0.0
Macau                      0.0
Italy                      0.0
India                      0.0
Hong Kong                  0.0
Germany                    0.0
France                     0.0
Finland                    0.0
Canada                     0.0
Cambodia                   0.0
Belgium                    0.0
United Arab Emirates       0.0
Taiwan                     0.0
Sri Lanka                  1.0
Vietnam                   12.0
Japan                     26.0
Australia                 30.0
Thailand                 117.0
Mainland China          8448.0
Name: Recovered, dtype: float64

In [129]:
n_df = sorted_df.nlargest(n=2)
n_df.idxmin()
#ans is Thailand

'Thailand'

### Problem 5 / 6
Create a dictionary which maps the ​Country/Region​ to the continent it is a member of.

In [178]:
def get_continent(str):
    dict = {'Asia': ('Mainland China', 'Singapore', 'Thailand','Japan', 'Hong Kong', 'South Korea',
                     'Malaysia', 'Taiwan', 'Macau', 'Vietnam', 'United Arab Emirates', 'India', 
                     'Philippines', 'Russia', 'Cambodia', 'Nepal', 'Sri Lanka'),
            'Africa': ('Ivory Coast'),
            'Europe': ('Germany', 'France', 'Italy', 'UK', 'Belgium', 'Finland', 'Spain', 'Sweden'),
            'North America': ('Canada', 'United States'),
            'South America': ('Mexico', 'Brazil', 'Colombia'),
            'Australia': ('Australia')
            }
    for continent, country in dict.items():
        if str in country:
            print(continent)
            return continent
    return np.nan;

In [179]:
get_continent('Australia')

Australia

'Australia'

### Problem 7
Add a column called ‘​Continent​’ which uses the mapping from Problem 4 to match theCountry/Region​ to the continent it is from

In [180]:
df = data_df
df

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0
...,...,...,...,...,...,...,...
1872,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN
1873,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN
1874,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN
1875,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN
1876,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN

In [188]:
# to suppress output
%%capture
for reg in df['Country/Region']:
    cont = get_continent(reg)
    df.loc[(df['Country/Region'] == reg), 'Continent'] = cont

In [190]:
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death,Continent
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0,Asia
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0,Asia
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0,Asia
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0,Asia
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0,Asia

### Problem 8
According to the data found in the “2019_nCoV_20200121_20200206.csv” file, what are thetotal number​ of ​confirmed ​cases of 2019 nCoV in each continent?

In [202]:
new_df = df[['Continent', 'Confirmed']].dropna()
sorted_df = new_df.groupby('Continent')
sorted_df.groups

{'Africa': Int64Index([1411], dtype='int64'),
 'Asia': Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
             ...
             1860, 1862, 1863, 1864, 1866, 1867, 1870, 1873, 1874, 1875],
            dtype='int64', length=1438),
 'Australia': Int64Index([  42,   43,   44,   46,  112,  113,  114,  116,  182,  183,  184,
              186,  252,  253,  255,  256,  321,  322,  324,  325,  390,  391,
              393,  394,  458,  459,  461,  462,  525,  526,  528,  529,  592,
              593,  595,  596,  658,  659,  661,  668,  725,  726,  728,  734,
              801,  802,  803,  804,  856,  858,  863,  927,  928,  929,  986,
              987,  988, 1044, 1045, 1046, 1099, 1100, 1151, 1152, 1205, 1206,
             1257, 1258, 1308, 1309, 1360, 1361, 1412, 1413, 1457, 1505, 1551,
             1596, 1640, 1684],
            dtype='int64'),
 'Europe': Int64Index([  35,   40,   48,   51,   55,   59,   62,   64,  105,  110,
             ...
             1353, 1362, 1405, 1456, 1504, 1550, 1595, 1639, 1683, 1727],
            dtype='int64', length=124),
 'North America': Int64Index([  47,   52,   53,   54,   57,   58,   65,   66,   67,   68,
             ...
             1632, 1633, 1676, 1677, 1720, 1721, 1760, 1797, 1843, 1876],
            dtype='int64', length=204)}

In [206]:
cont_df = sorted_df['Confirmed'].agg(np.sum)
cont_df

Continent
Africa                1.0
Asia             304984.0
Australia           238.0
Europe              395.0
North America       273.0
Name: Confirmed, dtype: float64